/* general */

body {
    font-family: sans-serif;
}

h1,h2,h3 {
    font-weight: 900;
    font-size: 30px;
}

/* Utility */
.box {
    background: #006cfa;
    border: 1px solid white;
    padding: 15px 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
}

.box-2{
    background: #52d6b5;
    border: 1px solid white;
    padding: 10px 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 5px;
}

.h-50 {
    height: 50px ;
}
