/* general */
body {
    background-color: #000;
    color: #fff;
    font-family:  sans-serif;
    text-transform: uppercase;
}

/* Utility */
.box{
    background-color: #fff;
    height: 50px ;
    border: 1px solid black;
}

.box img {
    object-fit: contain;
    width: 100%;
}


.mrg-box{
    margin: 5px;
}

.margin-t {
    margin-top: 50px;
}

